html {
    box-sizing: border-box;
}
  
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
}
  
/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%;
    --cursive: 'Dancing Script', cursive;
    --serif: 'Playfair Display', serif;
}

h1 {
    text-align: center;
    padding-right: 65px;
}

h2, h3 {
    text-align: center;
}

.start-buttons {
    text-align: center;
}

#question-holder {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}

#answer-holder {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.answer-buttons {
    text-align: center;
    margin-top: 20px;
}

body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.top {
    display: flex;
    justify-content: space-between;
}

#light-mode {
    justify-content: left;
    align-items: left;
}

.button-container{    
    display: flex;
    justify-content: left;
    align-items: left;
}